* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Nunito Sans, "Source Sans Pro";
}
/* Header */
.pelayanan-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pelayanan-wrapper-content {
    position: absolute;
    /* background: rgba(0, 0, 0, 0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.6s;
}
.pelayanan-wrapper img {
    width: 100%;
}
.pelayanan-wrapper-img img {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 100%;
}
.pelayanan-wrapper-content p {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    font-style: normal;
    line-height: normal;
}

/* pelayanan gambar */
.pelayanan {
    margin: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
}
.pelayanan-container {
    margin: 8px;
    border-radius: 8px;
    justify-content: space-around;
    transition: transform 0.4s;
    background-color: #fef6ec;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.1);
}
.pelayanan-container .nama-fasilitas {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #f7961c;
    color: #fff;
}
.pelayanan-container ul {
    margin: 16px;
}
.pelayanan-container li {
    margin: 5px;
    list-style-type: none;
    padding-inline-start: 16px;
}
.prj {
    grid-row: span 4;
}
.prj .pelayanan-container {
    padding-bottom: 8px;
}
