/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Nunito Sans, 'Source Sans Pro';
} */

.body {
    overflow: hidden;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

/* floating ikon */
.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.btn-floating {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 202px;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    transform: translateY(-0%);
    z-index: 1000;
}
.floating-item:hover {
    cursor: pointer;
}
.floating-item {
    margin-bottom: 16px;
    padding: 10px;
    height: 80px;
    width: 80px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.floating-item a {
    text-decoration: none;
    color: #000;
}
.floating-item img {
    margin: 16px;
    width: 32px;
    height: 32px;
}
.floating-item p {
    font-size: 14px;
}
.floating-item p:hover {
    color: #ef8500;
}

/* slide */
.slides {
    width: 100%;
    position: relative;
}
.slides .slide {
    display: none;
}
.slides .slide img {
    width: 100%;
    animation-name: fade;
    animation-duration: 1s;
}
.slides .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slides .navigation .prev,
.slides .navigation .next {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: 0.6s ease;
}
.slides .navigation .prev:hover,
.slide .navigation .next:hover {
    background: rgba(0, 0, 0, 1);
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 992px) {
    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 18px;
        padding: 13px;
    }
}
@media (max-width: 768px) {
    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 15px;
        padding: 10px;
    }
}
@media (max-width: 576px) {
    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 12px;
        padding: 7px;
    }
}
@media (max-width: 360px) {
    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 11px;
        padding: 6px;
    }
}

/* Nama RS */
.NamaSlogan {
    padding: 20px;
    margin-top: 50px;
}

.NamaRS {
    color: #f7961c;
    text-align: center;
    font-family: Nunito;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.sloganRS {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}
@media (max-width: 600px) {
    .NamaSlogan {
        padding: 10px;
    }
    .NamaRS {
        font-size: 2em;
        line-height: 1.2;
    }
    .sloganRS {
        font-size: 1em;
        line-height: 1.5;
    }
}
@media (max-width: 360px) {
    .NamaSlogan {
        padding: 10px;
    }
    .NamaRS {
        font-size: 1.2em;
    }
    .sloganRS {
        font-size: 0.8em;
    }
}

/* kotak 3 */

.kotak3 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.content {
    width: 25%;
    margin: 48px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    /* border-radius: 20px; */
    cursor: pointer;
    padding: 20px;
    transition: transform 0.4s;
    background: #f2f2f2;
    margin-bottom: 20px;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
}
.content:hover {
    transform: translate(0px, -8px);
    background-color: #fef6ec;
}

.kotak3 .content img {
    width: 80px;
    height: 80px;
    flex-shrink: 10;
}
.kotak3 .content p {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .kotak3 {
        flex-wrap: wrap;
    }
    .content {
        width: 80%;
    }
    .kontak .content img {
        width: 60px;
        height: 60px;
    }
    .kontak .content p {
        font-size: 12px;
    }
}
@media (max-width: 360px) {
    .kotak3 {
        margin: 8px;
        flex-wrap: wrap;
    }
    .content {
        width: 100%;
        margin: 8px;
    }
    .kontak .content img {
        width: 80px;
        height: 80px;
    }
    .kontak .content p {
        font-size: 10px;
    }
}

/* kegiatan */

.Kegiatan {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.Kegiatan-img-container {
    display: flex;
    justify-content: center;
}
.Kegiatan-img {
    width: 207.539px;
    height: 6.416px;
    flex-shrink: 0;
}

.kegiatan-slider {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 36px;
    grid-gap: 40px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.kegiatan-slide {
    width: 100%;
    min-width: 300px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
}
.kegiatan-slider .container {
    position: relative;
    padding: 10px;
}
.kegiatan-slider img {
    width: 100%;
    display: block;
    border-radius: 2px;
}
.kegiatan-slider .details {
    padding: 20px 10px;
}
.kegiatan-slider .details p {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0 15px 0;
}
.kegiatan-slider .details .btn-kegiatan {
    display: flex;
    border: none;
    border-radius: 2px;
    background-color: #f7961c;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}
.kegiatan-slider .details .btn-kegiatan img {
    margin-left: 10px;
    width: 20px;
    height: auto;
}
.kegiatan-slider .details .btn-kegiatan:hover {
    background: #ef8500;
}
.kegiatan-slider .kegiatan-slide:hover {
    transform: translate(0px, -8px);
    background-color: #fef6ec;
}

/* yg kodingan ikonnya */
.kegiatan-slider .kegiatan-ikon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.kegiatan-slider .kegiatan-ikon .prev,
.kegiatan-slider .kegiatan-ikon .next {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    /* background: rgba(0,0,0,0.2); */
    user-select: none;
    transition: 0.6s ease;
}
.kegiatan-slider .kegiatan-ikon .prev:hover,
.kegiatan-slider .kegiatan-ikon .next:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Mengaoa Naili DBS */
.mengapa-alasan {
    margin: 36px;
    width: 93%;
    height: auto;
    background: #fef6ec;
}
.mengapa-alasan .mengapa {
    padding: 24px;
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.alasan {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
}
.alasan-container {
    padding: 24px;
    text-align: justify;
}
.alasan-container p {
    color: #000;
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 30px;
}
.alasan-content {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}
.alasan-content p {
    color: #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
}
.alasan-content img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 16px;
}
@media (max-width: 768px) {
    .mengapa-alasan {
        margin: 16px;
    }
}

/* Promo saat ini */
.Promo {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.Promo-img-container {
    display: flex;
    justify-content: center;
}
.Promo-img {
    width: 207.539px;
    height: 6.416px;
    flex-shrink: 0;
}

/* box2annya */
.promo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 36px;
    position: relative;
    margin-top: 20px;
}
.promo-container .promo-content {
    background: #fafafa;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.promo-container .promo-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    animation-name: fade;
    animation-duration: 1s;
}
.promo-ikon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.promo-ikon .prev,
.promo-ikon .next {
    cursor: pointer;
    padding: 16px;
    color: #000;
    user-select: none;
    transition: 0.6s ease;
}
.promo-ikon .prev:hover,
.promo-ikon .next:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* promo responsif */
@media (max-width: 992px) {
    .promo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 768px) {
    .promo-container .promo-content {
        min-width: 100%; /* Menggunakan lebar penuh saat layar mengecil */
    }

    .promo-ikon {
        display: flex; /* Tetap menampilkan ikon navigasi */
    }
}

/* Mitra Kami */
.Mitra {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.Mitra-img-container {
    display: flex;
    justify-content: center;
}
.Mitra-img {
    width: 200px;
    height: 6.416px;
    flex-shrink: 0;
}

.mitralogo {
    padding: 36px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    grid-gap: 32px;
}
.mitralogo img {
    width: 152px;
    height: 89px;
    object-fit: cover;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.15);
}

/* Feedback */
.Feedback {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.Feedback-img-container {
    display: flex;
    justify-content: center;
}
.Feedback-img {
    width: 207.539px;
    height: 6.416px;
    flex-shrink: 0;
}

.feedback-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 36px;
}
.feedback-container table {
    width: 100%;
    border-collapse: collapse;
}
.feedback-container td {
    width: 50%;
    padding: 5px 20px 0px 0px;
}
.feedback-container .txt {
    width: 100%;
    height: 36px;
}
.feedback-container .txt:hover {
    border: 1px solid #ef8500;
}
.feedback-container .txt-pesan {
    width: 100%;
    height: 240px;
}
.feedback-container .feedback-btn {
    width: 62px;
    height: 36px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.feedback-container .feedback-btn:hover {
    color: #fff;
    background-color: #ef8500;
}
