/* sejarah */
.isi-sejarah .container-sejarah1,
.isi-sejarah .container-sejarah2 {
    width: 100%;
    max-width: 1000px; /* Lebar maksimum container */
    height: auto;
    background: #fef6ec;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto; /* Mengatur margin atas dan bawah, serta menengahkan container */
    padding: 20px 25px; /* Padding di setiap sisi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px; /* Jarak atas container */
    margin-bottom: 55px; /* Jarak bawah container */
}

.isi-sejarah .container-sejarah1 p,
.isi-sejarah .container-sejarah2 p {
    margin-left: 10px;
    text-align: justify;
}

.img-container {
    width: 154px;
    height: auto;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* Untuk layar dengan lebar kurang dari 880px (tablet dan di bawahnya) */
@media only screen and (max-width: 880px) {
    .isi-sejarah .container-sejarah1,
    .isi-sejarah .container-sejarah2 {
        flex-direction: column; /* Mengubah arah flex menjadi kolom */
        align-items: center; /* Memusatkan elemen secara horizontal */
    }

    .isi-sejarah .container-sejarah1 p,
    .isi-sejarah .container-sejarah2 p {
        margin-top: 20px; /* Menambahkan jarak antara gambar dan teks */
        text-align: center; /* Memusatkan teks */
    }

    .img-container {
        order: -1; /* Mengubah urutan gambar menjadi sebelum teks */
        margin-bottom: 20px; /* Menambahkan jarak antara gambar dan teks */
    }
}

/* visi misi */
/* VISI MISI */
.isi-visimisi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-visi,
.container-misi {
    width: 100%;
    max-width: 800px; /* Atur lebar maksimum konten */
    background: #fef6ec;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
    margin: 40px auto; /* Atur margin di tengah */
    padding: 20px;
}

.container-visi h3,
.container-misi h3 {
    margin-bottom: 20px; /* Tambahkan ruang antara judul dan konten */
    text-align: center;
}

.sub-visi,
.sub-misi {
    display: flex;
    align-items: center;
}

.sub-visi img,
.sub-misi img {
    margin-right: 15px; /* Atur jarak antara gambar dan teks */
}

.sub-misi {
    margin-top: 20px; /* Tambahkan ruang di atas setiap item misi */
}

@media only screen and (max-width: 880px) {
    .container-visi,
    .container-misi {
        padding: 10px; /* Atur padding untuk perangkat dengan lebar kurang dari 880px */
    }

    .sub-visi img,
    .sub-misi img {
        width: 40px; /* Atur ulang lebar gambar untuk perangkat kecil */
    }
}

/* nilai */
/* CSS untuk mengatur kartu (card) nilai-nilai */
.container-nilai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.card {
    width: calc(33.33% - 20px); /* Mengatur lebar kartu */
    margin: 10px; /* Memberikan jarak antar kartu */
    text-align: center;
    background: #fafafa;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    margin-top: 10px; /* Memberikan jarak antara gambar dan teks */
}

/* Untuk layar dengan lebar kurang dari 880px (tablet dan di bawahnya) */
@media only screen and (max-width: 880px) {
    .card {
        width: calc(
            50% - 20px
        ); /* Mengatur lebar kartu untuk tampilan tablet */
    }
}

/* Untuk layar dengan lebar kurang dari 600px (smartphone dan di bawahnya) */
@media only screen and (max-width: 600px) {
    .card {
        width: calc(
            100% - 20px
        ); /* Mengatur lebar kartu untuk tampilan smartphone */
    }
}

/* motto */
/* MOTTO */
.isi-motto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-motto {
    width: 100%;
    max-width: 800px; /* Atur lebar maksimum konten */
    background: #fef6ec;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
    margin: 40px auto; /* Atur margin di tengah */
    padding: 20px;
}

.container-motto h1 {
    text-align: center; /* Teks menjadi rata tengah */
    margin: 60px; /* Hilangkan margin default */
}

@media only screen and (max-width: 880px) {
    .container-motto {
        padding: 10px; /* Atur padding untuk perangkat dengan lebar kurang dari 880px */
    }
}

.Kegiatan {
    text-align: center; /* Menengahkan teks */
    margin-bottom: 20px; /* Memberi jarak bawah */
}

.Kegiatan-img-container {
    display: flex;
    justify-content: center; /* Menengahkan gambar */
    margin-bottom: 20px; /* Memberi jarak bawah */
}
/* Untuk menengahkan elemen pada ukuran layar kecil */
@media only screen and (max-width: 880px) {
    .Kegiatan {
        text-align: center; /* Menengahkan teks */
        margin-left: 35px;
    }

    .Kegiatan-img-container {
        display: flex;
        justify-content: center; /* Menengahkan gambar */
        margin-left: 35px;
    }
}
